.category {
    margin-bottom: 20px;
}

.category h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    margin-top: 10px;
    font-size: 20px;
}

.product p {
    font-size: 16px;
}
